.container {
  width: 90vw;
  margin: 4rem auto;
}

.item {
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
}

.item:nth-child(2n + 1) {
  flex-direction: row-reverse;
}

.info {
  flex: 1.5;
}

.image {
  flex: 1;
}

.image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

@media (max-width: 900px) {
  .item,
  .item:nth-child(2n + 1) {
    flex-direction: column;
  }
}
